<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col col-lg-5"></div>
      <div class="col col-lg-2 text-center" style="font-size: 250%">
        <div class="row">
            <div class="col col-lg-3"></div>
            <div class="col col-lg-3 link_bar">
              <a href="https://www.github.com/pedromlf" rel="stylesheet">
                <i class="fab fa-github"></i>
              </a>
            </div>
            <div class="col col-lg-3 link_bar">
              <a href="https://www.linkedin.com/in/pedromlferreira" rel="stylesheet">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
            <div class="col col-lg-3"></div>
        </div>
      </div>
    <div class="col col-lg-5"></div>
    </div>
  </div>
</footer>